.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
build-aux/compile
config.log
config.status
configure
hmac.lo
hmac.o
libtool
libykpers-1.la
libykpers_args.la
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
sha1.lo
sha1.o
sha224-256.lo
sha224-256.o
sha384-512.lo
sha384-512.o
tests/Makefile
tests/Makefile.in
tests/test-suite.log
tests/selftest
tests/selftest.o
tests/selftest.log
tests/selftest.trs
tests/test_args_to_config
tests/test_args_to_config.o
tests/test_args_to_config.log
tests/test_args_to_config.trs
tests/test_key_generation
tests/test_key_generation.o
tests/test_key_generation.log
tests/test_key_generation.trs
tests/test_ndef_construction
tests/test_ndef_construction.o
tests/test_ndef_construction.log
tests/test_ndef_construction.trs
tests/test_threaded_calls
tests/test_threaded_calls.o
tests/test_threaded_calls.log
tests/test_threaded_calls.trs
tests/test_yk_utilities
tests/test_yk_utilities.o
tests/test_yk_utilities.log
tests/test_yk_utilities.trs
tests/test_ykpbkdf2
tests/test_ykpbkdf2.o
tests/test_ykpbkdf2.log
tests/test_ykpbkdf2.trs
tests/test_json
tests/test_json.o
tests/test_json.log
tests/test_json.trs
tmp/
usha.lo
usha.o
ykchalresp
ykchalresp.o
ykcore/Makefile
ykcore/Makefile.in
ykcore/libykcore.la
ykcore/ykcore.lo
ykcore/ykcore.o
ykcore/ykcore_libusb-1.0.lo
ykcore/ykcore_libusb-1.0.o
ykcore/ykcore_libusb.lo
ykcore/ykcore_libusb.o
ykcore/ykcore_osx.lo
ykcore/ykcore_osx.o
ykcore/ykcore_stub.lo
ykcore/ykcore_stub.o
ykcore/ykcore_windows.lo
ykcore/ykcore_windows.o
ykcore/ykstatus.lo
ykcore/ykstatus.o
ykinfo
ykinfo.o
ykpbkdf2.lo
ykpbkdf2.o
ykpers-*-mac.zip
ykpers-*-mac.zip.sig
ykpers-*-win32.zip
ykpers-*-win32.zip.sig
ykpers-*-win64.zip
ykpers-*-win64.zip.sig
ykpers-*.tar.gz
ykpers-*.tar.gz.sig
ykpers-1.pc
ykpers-args.lo
ykpers-args.o
ykpers-json.lo
ykpers-json.o
ykpers-nojson.lo
ykpers-nojson.o
ykpers-version.h
ykpers-version.lo
ykpers-version.o
ykpers.lo
ykpers.o
ykpers_lcl.lo
ykpers_lcl.o
ykpersonalize
ykpersonalize.o
coverage/
hmac.gcno
sha1.gcno
sha224-256.gcno
sha384-512.gcno
usha.gcno
ykchalresp.gcno
ykcore/ykcore.gcno
ykcore/ykcore_libusb-1.0.gcno
ykcore/ykstatus.gcno
ykinfo.gcno
ykpbkdf2.gcno
ykpers-args.gcno
ykpers-json.gcno
ykpers-version.gcno
ykpers.gcno
ykpers_lcl.gcno
ykpersonalize.gcno
libhmac.la
libhmac_la-hmac.lo
libhmac_la-hmac.o
libhmac_la-sha1.lo
libhmac_la-sha1.o
libhmac_la-sha224-256.lo
libhmac_la-sha224-256.o
libhmac_la-sha384-512.lo
libhmac_la-sha384-512.o
libhmac_la-usha.lo
libhmac_la-usha.o
